params {

    // PIPELINE INPUT
    samplesheet = "testdata_ss.csv"
    outputDir = "output"

    // REFERENCE FILES
    ref_dir = "ref"
    ref_fa_bwa_dir = "${params.ref_dir}/BWA/hg19"
    trimmomatic_contaminant_fa = "${params.ref_dir}/contaminants/trimmomatic.fa"
    
}

process {
    withName: TRIMMOMATIC {
        container = 'varshinivasu/containers:trimmomatic-0.39'
    }
    withName: ALIGNMENT {
        container = "varshinivasu/containers:bwa-0.7.18-sambamba-1.0.1"
        cpus = 8
        memory = 24.GB
    }
    withName: SAMTOOLS_FLAGSTAT {
        container = "varshinivasu/containers:bwa-0.7.18-sambamba-1.0.1"
    }
}

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

